<a href="https://colab.research.google.com/github/siddhiundirkar/EXP2/blob/main/R_Experiment2_writeup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Vectors R Programming**

The simplest and most common data structure in R is the vector. Vectors come in two different flavors: atomic vectors and lists. An atomic vector contains exactly one data type, whereas a list may contain multiple data types.

Atomic vectors include logical, character, integer, and complex. Logical vectors can contain the values TRUE, FALSE, and NA (for 'not available').These values are generated as the result of logical 'conditions'.

Complet following couple of code cell to genearate a logical vector in variable logic_vect

If you print logic_vect. you will see that is is a logical vector with 4 values. Print logic_vect in cell below to verify it

In [ ]:
In [ ]:
# Create a vector num_vect with values -100, 0.55, 45, 5466
num_vect<-c(-100,0.55,45,5466)
num_vect

-100
0.55
45
5466

In [ ]:
In [ ]:
#Now, create a variable called logic_vect that gets the result of num_vect <= 0.55, which is read as 'num_vect is less than 0.55'.
logic_vect <- num_vect <= 0.55

If you print logic_vect. you will see that is is a logical vector with 4 values. Print logic_vect in cell below to verify it

In [ ]:
In [ ]:
#print logic_vect
logic_vect

1.TRUE
2.TRUE
3.FALSE
4.FALSE

In [ ]:
In [ ]:
#Type num_vect >= 6 and note the output
num_vect >=6

1.FALSE
2.FALSE
3.TRUE
4.TRUE


Character vectors

Character vectors are also very common in R. Double quotes are used to distinguish character objects.

In [ ]:
In [ ]:
# Create a character vector that contains the following words: "My", "name", "is". 
#Remember to enclose each word in its own set of double quotes, 
#so that R knows they are character strings. Store the vector in a variable called char_vect.
char_vect <- c("My", "name", "is")

In [ ]:
In [ ]:
# print the char_vect
char_vect

1.'My'
2.'name'
3.'is'

In [ ]:
In [ ]:
#use paste(char_vect, collapse=" ")
paste(char_vect,collapse=" ")

'My name is'


Explain What difference you see in above two code blocks

My explaination: In the first cell the vector elements are printed as its elements. ie. as different character strings. In second cell all the character strings are printed as single string and seperated by a space (" ").

In [ ]:
In [ ]:
# add your name as an element to char_vect and paste complete sentence saying "My name is <your name>"
char_vect <- c(char_vect,"Siddhi")
paste(char_vect, collapse = " ")
'My name is Siddhi'

In [ ]:
In [ ]:
#Execute this code block
paste("Hello","World!",collapse=" ")

'Hello World!'


Explain output of code block above. Ans: paste() in above cells prints 2 strings with space.

In [ ]:
In [ ]:
#Execute this 
paste(1:3, c("X", "Y", "Z"), sep = ":")
1.'1:X'
2.'2:Y'
3.'3:Z'


Explain output of above code block Ans: 2 vectors, both of size 3. First has elements (1,2,3) and second ("X","Y","Z"). When paste() is used it prints elements of both with iteration. sep=":" seperates both values with ":".

In [ ]:
In [ ]:
#Executes this LETTERS is 
paste(LETTERS, 1:10, sep = "-")
1.'A-1'
2.'B-2'
3.'C-3'
4.'D-4'
5.'E-5'
6.'F-6'
7.'G-7'
8.'H-8'
9.'I-9'
10.'J-10'
11.'K-1'
12.'L-2'
13.'M-3'
14.'N-4'
15.'O-5'
16.'P-6'
17.'Q-7'
18.'R-8'
19.'S-9'
20.'T-10'
21.'U-1'
22.'V-2'
23.'W-3'
24.'X-4'
25.'Y-5'
26.'Z-6'


Explain output of above code block Ans: LETTERS is an in_built dataset which has uppercase alphabets. It iterates through both values and prints both values seperated by ":"

Write R code to Solve Following

1.To begin with create a vecor a of 20 random values from Std Normal Variable.

2.Creat another vector b of 20 NA values. Also create vector 

3.Sample 20 values from above two vectors.

4.Subset 10th to 15th element from x to generate sample y

5.Count NAs in vector x and y

In [ ]:
In [ ]:
a <- rnorm(20)
a

1.-0.197488605307362
2.0.965343168268929
3.-0.616689317644659
4.0.773851716633571
5.1.18704149543533
6.-0.801768722878853
7.-0.957507158070555
8.0.948294335109374
9.2.67705148269361
10.-0.215856158563669
11.2.5386409715937
12.-0.643516072004759
13.0.311294040803502
14.-0.391595935004183
15.-1.71498583152034
16.-0.771099677920815
17.0.0631327532584313
18.-1.66076950295592
19.-0.679993771603823
20.0.0377063618449822

In [ ]:
In [ ]:
b <- rep(NA, 20)
b
class(b)
1.<NA>
2.<NA>
3.<NA>
4.<NA>
5.<NA>
6.<NA>
7.<NA>
8.<NA>
9.<NA>
10.<NA>
11.<NA>
12.<NA>
13.<NA>
14.<NA>
15.<NA>
16.<NA>
17.<NA>
18.<NA>
19.<NA>
20.<NA>


'logical'

In [ ]:
In [ ]:
x <- c(a,b)

x <- sample(x, 20 , replace= FALSE)
x

y <- x[10:15]
y

1.<NA>
2.<NA>
3.1.18704149543533
4.2.5386409715937
5.<NA>
6.0.0377063618449822
7.<NA>
8.<NA>
9.-0.391595935004183
10.-1.71498583152034
11.<NA>
12.-0.215856158563669
13.<NA>
14.2.67705148269361
15.<NA>
16.-0.616689317644659
17.0.773851716633571
18.<NA>
19.<NA>
20.0.948294335109374


1.-1.71498583152034
2.<NA>
3.-0.215856158563669
4.<NA>
5.2.67705148269361
6.<NA>

In [ ]:
In [ ]:
sum(is.na(x))
sum(is.na(y))

10

3